
@{
    ViewBag.Title = "Index";
}

<h2>Afisare cursuri</h2>

@foreach (var course in ViewBag.Courses)
{
    <h2>@course.Title</h2>
    <p>@course.Content</p>
    <p>@course.Date</p>
    <p>@course.Subject.SubjectName</p>
    <a class="btn btn-success"  href="/Courses/Show/@course.Id">Afisare curs</a>
    <br />
    <hr />
    <br />
}




